@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#barra_navegacao {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 25px;
    margin-left: 3%;
    margin-right: 3%;

    padding: 15px;
    border: 4px double #9ad0d3;
    border-radius: 8px;
}

#barra_navegacao h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #9ad0d3;
    color: black;
    padding: 15px;
    font-size: 70px;
    letter-spacing: 25px;
    border-radius: 10px;

    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal; 
    
}

#section_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section_login img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

#tela_login {
    display: flex;
    flex-direction: column;
    
    padding: 115px;
    border-radius: 8px;
    background-color: #9ad0d3;
}

.input_login{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#mensagem_login{
    display: flex;
    flex-direction: column;
}

#mensagem_login h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#mensagem_login p {
    font-size: 13px;
    color: black;
}

#mensagem_login p a {
    text-decoration: none;
    color: red;
}

#mensagem_login p a:hover {
    border-bottom: 2px solid red;
}

